/* Box-sizing border-box */
* {
  box-sizing: border-box;
}

/* Set up a default font and some padding to provide breathing room */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p {
  font-weight: 400;
  letter-spacing: 0.01em;
  line-height: 20px;
  margin-bottom: 1em;
  margin-top: 1em;
}

ul {
  margin: 10px 0 0 0;
  padding: 0 0 0 20px;
}

li {
  font-weight: 400;
  margin-top: 4px;
}

input {
  width: 100%;
  border: 1px solid #106cc8;
  font-size: 14px;
  height: 40px;
  outline: none;
  padding: 8px;
}

button {
  margin-top: 10px;
  float: right;
  background-color: #106cc8;
  border-style: none;
  color: rgba(255, 255, 255, 0.87);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  height: 40px;
  padding: 8px 18px;
  text-decoration: none;
}

button:hover {
  background-color: #28739e;
}

.center {
  margin: auto;
  width: 60%;
  padding: 10px;
}

.left {
  float: left;
  margin: 5%;
}

.right {
  width: 40%;
  float: right;
  margin: 5%;
}

.idea {
  border: 1px solid #ccc;
  padding: 10px;
  margin-top: 25px;
  box-shadow: 5px 5px 10px #ccc;
}

.title {
  color: red;
}

.body {
  color: blue;
}

.quality {
  color: green;
}

.idea p {
  display: inline;
}

.ideas {
  margin-top: 75px;
}

.idea-details {
  margin-top: 75px;
  width: 50%;
  border: 1px solid #ccc;
  padding: 10px;
  box-shadow: 5px 5px 10px #ccc;
}

button {
  margin: 25px 0px 0px 0px;
}