<div *ngIf="idea" class="idea-details center">
  <h2>{{idea.title}} details!</h2>
  <div style="margin-top: 25px">
    <p>id: {{idea.id}}</p>
  </div>
  <form [ngFormModel]="ideaForm" (submit)="onUpdate(ideaForm.value)">
    <div style="margin-top: 25px">
      <label>title: </label>
      <input required ngControl="title" [(ngModel)]="idea.title" placeholder="title" />
    </div>
    <div style="margin-top: 25px">
      <label>body: </label>
      <input required ngControl="body" [(ngModel)]="idea.body" placeholder="body" />
    </div>
    <input required ngControl="id" [(ngModel)]="idea.id" type="hidden" placeholder="{{idea.id}}" />
    <button type="submit">Update</button>
  </form>
</div>